    <tr>
      <td>
		<button><img src="images/removeIcon.png" alt="Удалить"></button>
	  </td>
      <td>
		<select name="cars" id="cars">
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	  </td>
      <td>
		<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
		<input type="button" ><img src="images/play.gif" alt="Play"></button>
	  </td>
    </tr>
